<app-header (toggleSidebar)="toggleLeftSidebar()"></app-header>
<app-sidebar
  [class.active]="isLeftSidebarOpen"
  [isOpen]="isLeftSidebarOpen"
  (toggleSidebar)="toggleLeftSidebar()"
></app-sidebar>
<div class="container">
  <div class="main-content" [class.sidebar-closed]="!isLeftSidebarOpen">
    <div class="toolbar">
      <mat-form-field appearance="outline" class="search-bar">
        <mat-icon matPrefix>search</mat-icon>
        <input class="search-input" matInput placeholder="Buscar tarea..." />
      </mat-form-field>
      <div class="view-toggle-buttons">
        <button
          mat-raised-button
          color="accent"
          class="new-task-button"
          (click)="openModal()"
        >
          <mat-icon>add</mat-icon>
          Nueva Tarea
        </button>
        <button
          mat-icon-button
          [disabled]="viewMode === 'grid'"
          (click)="setViewMode('grid')"
        >
          <mat-icon>grid_view</mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="viewMode === 'list'"
          (click)="setViewMode('list')"
        >
          <mat-icon>list</mat-icon>
        </button>
      </div>
    </div>
    <div class="task-dashboard">
      <div class="task-list" *ngIf="viewMode === 'list'">
        <app-task-card
          *ngFor="let task of tasks"
          [task]="task"
          (statusChanged)="onStatusChange(task, $event)"
          (showTaskToUpdateForm)="onDataChange(task)"
        ></app-task-card>
      </div>
      <div class="task-grid" *ngIf="viewMode === 'grid'">
        <app-task-card
          *ngFor="let task of tasks"
          [task]="task"
          (statusChanged)="onStatusChange(task, $event)"
          (showTaskToUpdateForm)="onDataChange(task)"
        ></app-task-card>
      </div>
    </div>
  </div>
</div>
