.content-wrapper {
  max-height: calc(94vh);
  display: flex;
  flex-direction: column;
}

footer {
  height: 45px;
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
