.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  z-index: 1001;
  padding: 10px 20px;
  position: absolute;
  width: 98.3%;

  .open-sidebar-btn {
    cursor: pointer;
  }

  .atom-logo {
    max-height: 50px;
  }
}
