<mat-card class="task-card">
  <mat-card-content>
    <div class="task-header">
      <h3>{{ task.title }}</h3>
      <span class="status" [ngClass]="task.status.toLowerCase()">{{
        task.status
      }}</span>
    </div>
    <p class="description">{{ task.description }}</p>
    <p class="creation-date">
      Fecha de creación:
      {{ task.creationDate.seconds * 1000 | date : "dd/MM/yyyy, hh:mm a" }}
    </p>

    <div class="actions">
      <div class="button-row">
        <button
          mat-raised-button
          color="accent"
          class="task-complete-button"
          *ngIf="task.status !== 'Completada'"
          (click)="updateTask('Completada')"
        >
          Completar
        </button>
        <button
          mat-raised-button
          color="accent"
          class="task-delete-button"
          *ngIf="task.status !== 'Eliminada'"
          (click)="updateTask('Eliminada')"
        >
          Borrar
        </button>
        <button
          mat-icon-button
          color="primary"
          class="task-edit-button"
          *ngIf="task.status !== 'Eliminada'"
          (click)="updateDataTask()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
